if profile.blogs && profile.blogs.length > 0

  .span12.blogs
    .alert-message.block-message.warning
      h4
        a(href= profile.blogs[0].url)= profile.blogs[0].title
      p= profile.blogs[0].summary

    if profile.blogs.length > 1
      #blog-posts
        each blog, i in profile.blogs
          if i > 0
            .block-message
              h5
                a(href= blog.url)= blog.title
              p= blog.summary

else
  .span12.blogs
    No blogs found