// static dialog
#dialog-message(title="Modal Dialog")
  p
    span.ui-icon.ui-icon-circle-check(style="float:left; margin:0 7px 50px 0;")
      Your files have downloaded successfully into the My Downloads folder.

  p
    Currently using <b>36% of your storage space</b>.