.topbar
  .fill
    .container-fluid
      a.brand(href="http://github.com/addyosmani/jquery-ui-bootstrap") My Social Profile
      ul.nav
        li.active
          a(href="#") Home
        li
          a(href="http://github.com/addyosmani/jquery-ui-bootstrap/issues") About Me
        li
          a(href="http://twitter.com/addyosmani") Contact

      form.pull-right(action="")